.playlist-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #181818;
  border-radius: 12px;
}

.player-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player-left img {
  width: 56px;
  height: 56px;
  border-radius: 8px;
}

.player-left h4 {
  margin: 0;
  font-size: 1rem;
}

.player-left p {
  margin: 0;
  font-size: 0.85rem;
  color: #b3b3b3;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player-controls button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.player-controls .play {
 display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  background: #1db954;
  color: #000;

  border: none;
  border-radius: 50%;

  font-size: 14px;
  font-weight: bold;

  cursor: pointer;

  box-shadow: 0 6px 18px rgba(29, 185, 84, 0.35);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}
